.navbar{
    background-color: rgb(39, 31, 31);
    border-radius: 30px;
}
.navbar li{
    list-style: none;
    float: left;
    padding: 3px  3px;
}
.navbar ul{
    overflow: auto;
}
.navbar li a{
    padding: 5px 5px;
    text-decoration: none;
    color: white;
    margin: 30px 20px;
}
.navbar li a:hover{
    background-color: greenyellow;
}